name: RetailFlow CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '5.0.x'

    - name: Restore and Build
      # This finds your .csproj regardless of the folder path
      run: |
        dotnet restore **/*.csproj
        dotnet build **/*.csproj --configuration Release --no-restore

    - name: Run Tests
      run: dotnet test **/*.csproj --configuration Release --no-build
